/* Write your CSS here */
.latestMatch {
  background-color: #0f172a;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.teamName {
  color: white;
  font-family: Bree Serif;
  font-size: 30px;
}
.date {
  color: white;
  font-family: Bree Serif;
  font-size: 25px;
}
.venue {
  color: white;
  font-family: Bree Serif;
  font-size: 20px;
}
.result {
  color: white;
  font-family: Bree Serif;
  font-size: 20px;
}
.teamLogo2 {
  width: 25%;
  height: 25%;
}
.c1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
